<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio - Mi Proyecto</title>
  <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>

  <h2 style="text-align: center;">Bienvenido al Sistema de Gestión</h2>

  <div style="text-align: center; margin-top: 40px;">
    <a href="../backend/views/lista_productos.php"><button>Ver Productos</button></a>
    <a href="../backend/views/productos.php"><button>Agregar Producto</button></a>
    <br><br>
    <a href="../backend/views/lista_categorias.php"><button>Ver Categorías</button></a>
    <a href="../backend/views/categorias.php"><button>Agregar Categoría</button></a>
  </div>

  <p class="autor">Felipe Rojas</p>

</body>
</html>
